<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>


<body>
<div class="container">
    <h2 class="title">Регистрация</h2>


    <form action="/profile" method="post" class="form">
        <input type="text" name="name" required class="input" placeholder="Имя и фамилия">

        <input type="text" name="username" required class="input" placeholder="логин">
        <input type="password" name="password" required class="input" placeholder="пароль">

        <input type="text" name="e-mail" required class="input" placeholder="e-mail">
        <input type="text" name="github" required class="input" placeholder="github">
        <input type="text" name="linkedIn" required class="input" placeholder="linkedIn">
        <input name="about" required class="input" placeholder="технологии">

        <textarea name="technologies" required class="input" placeholder="немного о себе"></textarea>
        <button type="submit" class="input btn">Зарегистрироваться</button>
    </form>
</div>
</body>
</html>